{% extends 'base.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="name" placeholder="enter film name"><br>
    <input type="text" name="desc" placeholder="enter film desc"><br>
    <input type="text" name="year" placeholder="enter film year"><br>
    <input type="file" name="img" ><br>
    <input type="submit">
</form>
</body>
</html>
  {% endblock %}